<!DOCTYPE html>
<html>
    <head>
        <title>Uofficiel Side | Netto</title>
        <link rel="icon" type="image.png" href="../static/favicon.png"></icon>
        <link rel="stylesheet" href="../static/css/inherit.css">
        <link rel="stylesheet" href="../static/css/landing.css">

        <script src="scripts/resizeImage.js"></script>
    </head>
    <body>
        <div class = "resize-image">
            <whatsnew>Netto</whatsnew>
            <offers>> se vores <text>tilbud</text></offers>
            <disclaimer>I have no association with the Netto store chains, this is merely a fun project.</disclaimer>
        </div>
    </body>
</html>